# 决策树

In [2]:
import pandas as pd

In [3]:
# 1、获取数据
titanic = pd.read_csv("../data_ml/titanic.csv")

In [4]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [5]:
# 筛选特征值和目标值
x = titanic[["pclass", "age", "sex"]]
y = titanic["survived"]

In [7]:
x.tail()

     pclass  age     sex
1308    3rd  NaN    male
1309    3rd  NaN    male
1310    3rd  NaN    male
1311    3rd  NaN  female
1312    3rd  NaN    male

In [8]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [10]:
# 2、数据处理
# 1）缺失值处理
x["age"].fillna(x["age"].mean(), inplace=True)

C:\Users\jaby0\AppData\Local\Temp\ipykernel_26384\2577152713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["age"].fillna(x["age"].mean(), inplace=True)

In [11]:
# 2) 转换成字典
x = x.to_dict(orient="records")

In [16]:
x[:10]

[{'pclass': '1st', 'age': 29.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 2.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 30.0, 'sex': 'male'},
 {'pclass': '1st', 'age': 25.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 0.9167, 'sex': 'male'},
 {'pclass': '1st', 'age': 47.0, 'sex': 'male'},
 {'pclass': '1st', 'age': 63.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 39.0, 'sex': 'male'},
 {'pclass': '1st', 'age': 58.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 71.0, 'sex': 'male'}]

In [17]:
from sklearn.model_selection import train_test_split
# 3、数据集划分
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=22)

In [18]:
# 4、字典特征抽取
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [19]:
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [21]:
# 3）决策树预估器
estimator = DecisionTreeClassifier(criterion="entropy", max_depth=8)
estimator.fit(x_train, y_train)

# 4）模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

y_predict:
 [0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
直接比对真实值和预测值:
 831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率为：
 0.7811550151975684

In [23]:
# 可视化决策树
export_graphviz(estimator, out_file="titanic_tree.dot", feature_names=transfer.get_feature_names_out())

### 随机森林对泰坦尼克号乘客的生存进行预测

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [25]:
estimator = RandomForestClassifier()
# 加入网格搜索与交叉验证
# 参数准备
param_dict = {"n_estimators": [120,200,300,500,800,1200], "max_depth": [5,8,15,25,30]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=3)
estimator.fit(x_train, y_train)

# 5）模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

# 最佳参数：best_params_
print("最佳参数：\n", estimator.best_params_)
# 最佳结果：best_score_
print("最佳结果：\n", estimator.best_score_)
# 最佳估计器：best_estimator_
print("最佳估计器:\n", estimator.best_estimator_)
# 交叉验证结果：cv_results_
print("交叉验证结果:\n", estimator.cv_results_)

y_predict:
 [0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
直接比对真实值和预测值:
 831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
准确率为：
 0.7872340425531915
最佳参数：
 {'max_depth': 5, 'n_estimators': 120}
最佳结果：
 0.8353658536585366
最佳估计器:
 RandomForestClassifier(max_depth=5, n_estimators=120)
交叉验证结果:
 {'mean_fit_time': array([0.1615599 , 0.30373359, 0.40731915, 0.64639886, 1.0635852 ,
       1.59262506, 0.17658528, 0.30426947, 0.42802056, 0.73896305,
       1.18833256, 1.80983845, 0.19213978, 0.32092404, 0.48228264,
       0.80985705, 1.22842471, 1.87975852, 0.19751954, 0.31399552,
       0.47090387, 0.78279185, 1.26204443, 1.84485769, 0.199675  ,
       0.32950195, 0.49050196, 0.78030467, 1.24520739, 1.8916448 ]), 'std_fit_time': array([0.00112281, 0.06845182, 0.01160721, 0.0054207 , 0.02229928,
       0.0155009 , 0.00259593, 0.01271525, 0.01320429, 0.0241132 ,
       0.00638107, 0.03315298, 0.01437181, 0.00411348, 0.01004441,
       0.02600315, 0.05098874, 0.05140801, 0.01274226, 0.01543471,
       0.00717086, 0.01238073, 0.02043744, 0.04942801, 0.00710765,
       0.01218804, 0.02468155, 0.0306117 , 0.03386595, 0.06245718]), 'mean_score_time': array([0.00736554, 0.01133752, 0.01748665, 0.02437504, 0.04324547,
       0.06498575, 0.00796882, 0.01255012, 0.01851058, 0.03117998,
       0.04708505, 0.06957173, 0.00836595, 0.01390878, 0.02054826,
       0.03150821, 0.04761958, 0.07117693, 0.00898234, 0.01306121,
       0.01764576, 0.03456465, 0.04881064, 0.07028627, 0.00864943,
       0.01368825, 0.01813769, 0.03055763, 0.04787397, 0.07113417]), 'std_score_time': array([6.42230510e-04, 2.55278726e-04, 1.26827680e-03, 4.80438681e-03,
       9.03601117e-04, 6.18238454e-04, 6.30074505e-04, 5.71432520e-05,
       5.02608871e-04, 1.63869514e-03, 1.08603075e-03, 1.46854242e-03,
       2.72451161e-04, 3.90809693e-04, 2.44684242e-03, 7.99847678e-04,
       5.70678099e-04, 2.24119897e-03, 4.02190276e-04, 3.31568009e-04,
       2.22797960e-03, 6.05115309e-03, 1.96135814e-03, 4.97251922e-04,
       2.47797651e-04, 3.09109317e-04, 5.77195672e-04, 4.41155598e-04,
       9.67950558e-04, 1.57515341e-03]), 'param_max_depth': masked_array(data=[5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15,
                   15, 25, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 30],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value=999999), 'param_n_estimators': masked_array(data=[120, 200, 300, 500, 800, 1200, 120, 200, 300, 500, 800,
                   1200, 120, 200, 300, 500, 800, 1200, 120, 200, 300,
                   500, 800, 1200, 120, 200, 300, 500, 800, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value=999999), 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([0.82926829, 0.82621951, 0.82926829, 0.82621951, 0.82621951,
       0.82621951, 0.81097561, 0.80182927, 0.81402439, 0.79878049,
       0.81707317, 0.80487805, 0.79878049, 0.79268293, 0.79268293,
       0.79878049, 0.80182927, 0.79268293, 0.79573171, 0.79878049,
       0.79573171, 0.80182927, 0.79268293, 0.79573171, 0.80487805,
       0.80182927, 0.79268293, 0.79268293, 0.80182927, 0.79268293]), 'split1_test_score': array([0.85060976, 0.85060976, 0.85060976, 0.85060976, 0.85060976,
       0.85060976, 0.8445122 , 0.85365854, 0.84756098, 0.85060976,
       0.85365854, 0.85365854, 0.84146341, 0.84146341, 0.85365854,
       0.84756098, 0.85365854, 0.85365854, 0.85060976, 0.85670732,
       0.85060976, 0.85060976, 0.85060976, 0.85670732, 0.85670732,
       0.8445122 , 0.84146341, 0.85365854, 0.8445122 , 0.85060976]), 'split2_test_score': array([0.82621951, 0.82621951, 0.82317073, 0.82621951, 0.82317073,
       0.82621951, 0.79878049, 0.80487805, 0.80182927, 0.80182927,
       0.80182927, 0.80182927, 0.80182927, 0.80487805, 0.80487805,
       0.80182927, 0.80487805, 0.80487805, 0.80182927, 0.80792683,
       0.79573171, 0.80182927, 0.80182927, 0.80182927, 0.79878049,
       0.80182927, 0.80487805, 0.80182927, 0.80487805, 0.80487805]), 'mean_test_score': array([0.83536585, 0.83434959, 0.83434959, 0.83434959, 0.83333333,
       0.83434959, 0.81808943, 0.82012195, 0.82113821, 0.81707317,
       0.82418699, 0.82012195, 0.81402439, 0.81300813, 0.81707317,
       0.81605691, 0.82012195, 0.81707317, 0.81605691, 0.82113821,
       0.81402439, 0.81808943, 0.81504065, 0.81808943, 0.82012195,
       0.81605691, 0.81300813, 0.81605691, 0.81707317, 0.81605691]), 'std_test_score': array([0.01085069, 0.01149767, 0.01176406, 0.01149767, 0.01227952,
       0.01149767, 0.01933567, 0.02374659, 0.01933567, 0.02374659,
       0.02174892, 0.02374659, 0.0194422 , 0.02072772, 0.02634447,
       0.02231148, 0.02374659, 0.02634447, 0.02455904, 0.02542682,
       0.02586976, 0.02299534, 0.02542682, 0.0274202 , 0.02598925,
       0.02012092, 0.02072772, 0.02684928, 0.0194422 , 0.02493464]), 'rank_test_score': array([ 1,  2,  2,  2,  6,  2, 14, 10,  8, 17,  7, 10, 28, 29, 17, 21, 10,
       17, 21,  8, 27, 14, 26, 14, 10, 21, 29, 21, 17, 21])}