# CSV

In [4]:
import pandas as pd 
data = pd.read_csv("../data_wj/stock_day.csv", usecols=['open', 'close'])  # 参数sep=','默认是,
data

             open  close
2018-02-27  23.53  24.16
2018-02-26  22.80  23.53
2018-02-23  22.88  22.82
2018-02-22  22.25  22.28
2018-02-14  21.49  21.92
...           ...    ...
2015-03-06  13.17  14.28
2015-03-05  12.88  13.16
2015-03-04  12.80  12.90
2015-03-03  12.52  12.70
2015-03-02  12.25  12.52

[643 rows x 2 columns]

In [7]:
data[:10].to_csv("../data_wj/test.csv", columns=["open"])

In [8]:
pd.read_csv("../data_wj/test.csv")

   Unnamed: 0   open
0  2018-02-27  23.53
1  2018-02-26  22.80
2  2018-02-23  22.88
3  2018-02-22  22.25
4  2018-02-14  21.49
5  2018-02-13  21.40
6  2018-02-12  20.70
7  2018-02-09  21.20
8  2018-02-08  21.79
9  2018-02-07  22.69

In [9]:
# 不写索引
data[:10].to_csv("../data_wj/test.csv", columns=["open"], index=False)

In [10]:
pd.read_csv("../data_wj/test.csv")

    open
0  23.53
1  22.80
2  22.88
3  22.25
4  21.49
5  21.40
6  20.70
7  21.20
8  21.79
9  22.69

# HDF5

In [35]:
day_close = pd.read_hdf("../data_wj/day_close.h5")

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [33]:
day_close.to_hdf("../data_wj/test.h5", key="day_close")

NameError: name 'day_close' is not defined

In [34]:
# 再次读取的时候, 需要指定键的名字
new_close = pd.read_hdf("./data/test.h5", key="day_close")

FileNotFoundError: File ./data/test.h5 does not exist

# JSON

In [25]:
# orient指定存储的json格式，lines指定按照行去变成一个样本
json_read = pd.read_json("../data_wj/Sarcasm_Headlines_Dataset.json", orient="records", lines=True)
json_read

                                            article_link  ... is_sarcastic
0      https://www.huffingtonpost.com/entry/versace-b...  ...            0
1      https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2      https://local.theonion.com/mom-starting-to-fea...  ...            1
3      https://politics.theonion.com/boehner-just-wan...  ...            1
4      https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0
...                                                  ...  ...          ...
26704  https://www.huffingtonpost.com/entry/american-...  ...            0
26705  https://www.huffingtonpost.com/entry/americas-...  ...            0
26706  https://www.huffingtonpost.com/entry/reparatio...  ...            0
26707  https://www.huffingtonpost.com/entry/israeli-b...  ...            0
26708  https://www.huffingtonpost.com/entry/gourmet-g...  ...            0

[26709 rows x 3 columns]

In [31]:
# 输出显示为一整行,可读性差
json_read.to_json("../data_wj/test.json", orient="records")

In [32]:
# 输出以字典形式显示为多行，可读性好
json_read.to_json("../data_wj/test.json", orient="records", lines=True)